.idea
.env
DormitoriesPlus/__pycache__
DormitoriesPlus_project/__pycache__
DormitoriesPlus/management/__pycache__
DormitoriesPlus/management/commands/__pycache__
DormitoriesPlus/migrations/__pycache__
DormitoriesPlus/templatetags/__pycache__
DormitoriesPlus/migrations/__pycache__
DormitoriesPlus/templatetags/__pycache__
