{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "DormitoriesPlus - Home Page" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <body>

    <header>
      <h1>DormitoriesPlus</h1>
      <p>{% translate "Welcome to Rikfin Dormitories website!" %}</p>
    </header>

    <div class="container">
      <div class="hero">
        <h2>{% translate "Hello, on this website you can perform dormitory-related operations." %}</h2>
        <p>{% translate "Use the links below to access the relevant service for you." %}</p>
      </div>

    <div class="links">
      <a href="{% url 'application' %}">{% translate "Equipment Rental" %}</a>
      <a href="{% url 'faults' %}">{% translate "Fault Reports" %}</a>
      <a href="{% url 'connect_us' %}">{% translate "Contact Us" %}</a>
    </div>


    </div>

    <footer>
      <p>{% translate "© 2025 DormitoriesPlus - All rights reserved" %}</p>
    </footer>

  </body>
</html>
